body {
    font-family: sans-serif;
    margin: 20px;
}

#input-section {
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}